# npm
node_modules
package-lock.json
*.log
*.gz
env
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore